
<!-- BLOCO: Banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,36,61,0.6) 50%), url('/assets/banner.jpeg');">
  <div class="banner-content">
    <h1>Personal.me</h1>
    <p>Encontre os melhores personal trainers perto de voce!</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>
<!-- BLOCO: Banner FIM -->

<!-- BLOCO: Explicacao do funcionamento -->
<div class="container">
  <center>
    <br>
    <h2>Como funciona?</h2>
    <h4>Em apenas 3 passos voce acha o profissional certo para as suas necessidades</h4>
  </center>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="feature text-center information">
        <h2>Busque</h2>
        <p>O <strong>profissional de sua preferencia</strong> na nossa pagina</p>
        <i class="fa fa-search fa-5x" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="feature text-center">
        <h2>Agende</h2>
        <p>Uma <strong>aula teste</strong> com o profissional de sua escolha</p>
        <i class="fa fa-calendar-check-o fa-5x" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="feature text-center">
        <h2>Comece</h2>
        <p>O seu treino e <strong>garanta os resultados</strong> que voce espera</p>
        <i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i>
      </div>
    </div>
  </div>
    <center>
      <a class="btn btn-primary btn-lg">Buscar Personal</a>
    </center>
    <br>
    <br>
</div>
<!-- BLOCO: Explicacao do funcionamento FIM -->

<!-- BLOCO: Cards -->
<div class="container">
  <center>
    <br>
    <h2>Ultimos profissionais cadastrados</h2>
  </center>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4">

      <div class="feature text-center information">
        <h3>Ronaldo Junior</h3>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <br>
        <img src='https://kitt.lewagon.com/placeholder/users/alex-felix' class="avatar-large"/>
        <p style="margin-bottom: 2px">Sao Paulo - Jardins</p>
        <p>15 pessoas interessadas</p>
        <div>
            <h5 class="specialties"><span class="highlight">Condicionamento Fisico<span></h5>
            <h5 class="specialties"><span class="highlight">Musculacao<span></h5>
            <h5 class="specialties"><span class="highlight">Corrida<span></h5>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">

       <div class="feature text-center information">
        <h3>Ronaldo Junior</h3>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <br>
        <img src='https://kitt.lewagon.com/placeholder/users/alex-felix' class="avatar-large"/>
        <p style="margin-bottom: 2px">Sao Paulo - Jardins</p>
        <p>15 pessoas interessadas</p>
        <div>
            <h5 class="specialties"><span class="highlight">Condicionamento Fisico<span></h5>
            <h5 class="specialties"><span class="highlight">Musculacao<span></h5>
            <h5 class="specialties"><span class="highlight">Corrida<span></h5>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">

      <div class="feature text-center information">
        <h3>Ronaldo Junior</h3>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <br>
        <img src='https://kitt.lewagon.com/placeholder/users/alex-felix' class="avatar-large"/>
        <p style="margin-bottom: 2px">Sao Paulo - Jardins</p>
        <p>15 pessoas interessadas</p>
        <div>
            <h5 class="specialties"><span class="highlight">Condicionamento Fisico<span></h5>
            <h5 class="specialties"><span class="highlight">Musculacao<span></h5>
            <h5 class="specialties"><span class="highlight">Corrida<span></h5>
        </div>
      </div>

    </div>
  </div>
    <br>
</div>
<!-- BLOCO: Cards FIM -->

<!-- BLOCO: Anuncio profissional-->

<div class="banner-professional"></class>
  <center>
    <h2>E profissional e gostaria de anunciar conosco?</h2>
    <a class="btn btn-primary btn-lg">Inscreva-se</a>
    <h3>E seja visto por milhares de alunos toda semana</h3>
  <center>
</div>

<!-- BLOCO: Anuncio profissional FIM -->



<div id="my-footer" class="text-center">
  <p>Confira mais do ©Personal.me nas redes sociais:</p>
  <ul class="list-inline">
    <li><a href="#"><i class="fa fa-youtube fa-lg"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
    <li><a href="#"><i class="fa fa-instagram fa-lg"></i></a></li>
  </ul>
</div>
